// colors
$primary: #6366F1;
$main : #03112F;
$black: #000;
$white: #fff;
$linear: linear-gradient(90.34deg, #B468FF -13.15%, #6366F1 68.29%);
// fonts
$mainFont: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$poppins: 'Poppins', sans-serif;





